ion-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.optional {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.7rem;
  margin-top: 0.8rem;
  a {
    max-width: 150px;
    min-width: none;
    font-size: 16px;
  }
}
#btn-google {
  ion-icon {
    margin-left: 3px;
  }
  // --color: var(--ion-color-secondary);
  // --border: var(--ion-color-secondary) solid 1px;
  // --background: transparent;
}

ion-card {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 350px;
  width: 80%;
}

.login-button {
  --color: white;
  --background: var(--ion-color-secondary);
}
