ion-header {
  background: var(--ion-color-primary);
  padding: 10px 0;
  ion-toolbar {
    --background: var(--ion-color-primary);
    --padding-bottom: 0;
    --padding-start: 15px;
    --padding-end: 15px;

    color: white;
    ion-icon,
    ion-menu-button {
      color: white;
      font-size: 2rem;
    }
    ion-avatar {
      max-width: 30px;
      max-height: 30px;
      margin-left: 10px;
    }
    ion-label {
      ion-text {
        font-size: 1rem;
      }
      p {
        margin-top: 3px;
        color: var(--ion-color-light);
        ion-text {
          font-size: 0.7rem;
        }
      }
    }
  }
}
ion-content {
  --background: #777;
  ion-item {
    --background: #777;
    --padding-top: 15px;
    --padding-bottom: 15px;
  }
  .message {
  }
  .assistant {
  }
  .user {
  }
}

ion-footer {
  display: flex;
  .message-container {
    background-color: #777;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .message-input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    padding-bottom: 10px;
    max-width: 1100px;
    margin: 0 auto;

    input {
      border: 1px solid #ddd;
      background: #ddd;
      border-radius: 20px;
      height: 48px;
      padding-left: 20px;
      width: 100%;
      outline: none;
      color: #333;
    }
    .message-button {
      margin-left: 10px;
      background: var(--ion-color-secondary);
      border-radius: 50%;
      color: #fff;
      height: 50px;
      width: 50px;
      font-size: 0.8rem;
    }
  }
}
