<app-menu></app-menu>
<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-avatar slot="start">
        <img src="assets/robot-image-x500.jpeg" alt="chat-gpt-img">
      </ion-avatar>
      <ion-title>
        <ion-label>
          <ion-text>KKS-GPT</ion-text>
          <p><ion-text>Online</ion-text></p>
        </ion-label>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="installApp()" fill="outline" color="secondary">
          Install App
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- ! Content -->
  <ion-content class="ion-no-padding">

    <ion-list class="ion-no-border" *ngIf="listMessage$ | async as listMessage">
      <ng-container *ngIf="canInstall">
        <ion-item (click)="installApp()">
          <ion-label>
            <ion-text color="secondary">
              <h2>Install App</h2>
            </ion-text>
            <p>Install the app to get the best experience</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button fill="outline" color="secondary">
              <ion-icon slot="icon-only" name="download-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ng-container>
      <ion-item *ngFor="let item of listMessage" lines="none">
        <div [innerText]="item.message"></div>
      </ion-item>

      <ng-container *ngIf="onResponding">
        <ng-container *ngIf="streamMessage$ | async as streamMsg">
          <ion-item class="messages receiver">
            <div class="last-message-other">
              <div class="message message-last" [innerText]="streamMsg">
              </div>
            </div>
          </ion-item>
        </ng-container>
      </ng-container>

    </ion-list>
  </ion-content>

  <!-- ! Footer -->
  <ion-footer class="ion-no-border">
    <div class="message-container">
      <div class="message-input">
        <input type="text" placeholder="Type your message ..." [(ngModel)]="message" (keyup.enter)="sendMessage()" [disabled]="onResponding" />
        <ion-buttons>
          <ion-button class="message-button send-button" (click)="sendMessage()" *ngIf="message.length > 0 && !onResponding">
            <ion-icon slot="icon-only" name="send-sharp"></ion-icon>
          </ion-button>
          <ion-button class="message-button clear-button" (click)="clearMessage()" *ngIf="message.length === 0 && !onResponding">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>

          <ion-button class="message-button clear-button" (click)="stopResponding()" *ngIf="onResponding">
            <ion-icon slot="icon-only" name="stop-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>

  </ion-footer>
</div>